*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

nav{
    height:25vh;
    background-color:#7D80DA ;
    padding:1vh 1vh 1vh 1vh;
    color: #e9e1e1;
}

.empty{
    background-color: #7D80DA;
    color: #e9e1e1;
    opacity: 0.8;
    font-size: large;
    font-weight: bold;
    height: 10vh;
    width: 8vw;
}

.title{
    background-color: #7D80DA;
    color: #e9e1e1;
    font-size: large;
    opacity: 0.5;
    text-decoration: none;
}

.author{
    background-color: #B0A3D4;
    opacity: 0.8;
    color: #7D80DA;
    border-bottom: 1px dotted black;
}